@font-face {
  font-family: 'Fira Code';
  src: url('../externals/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #282A36;
  font-family: 'Fira Code', monospace;
  height: 10000px; /*para teste*/
  font-style: normal;
  font-weight: 400;
  src: url('https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Retina/complete/Fura%20Code%20Retina%20Nerd%20Font%20Complete.ttf') format('truetype');
  font-variant-ligatures: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
  height: 84px;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar {
  width: 48px;
  height: 359px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--cor-1, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #0601E7 0%, #D446F9 64.06%, #3080FE 100%));
  position: fixed;
  margin-left: 42px;
  margin-top: 80px;
}




